<form>
    <div style="justify-content: center; align-items: center;  display: flex; margin-top: 100px;">
      <table>
        <tr>
          <td>
            <label>Name : &nbsp;</label>
          </td>
          <td>
            <input  type="text"> 
          </td>
        </tr>
          <br>
        <tr>
          <td>
            <label>Email : &nbsp;</label>
          </td>
          <td>
            <input type="email"> <br>
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <label>Phone  : &nbsp;</label>
          </td>
          <td>
            <input type="text"> <br>
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <label>Query : &nbsp;</label>
          </td>
          <td>
            <input type="text"> <br>
          </td>
        </tr>
       
      </table>
  
    </div>
    <br>
    <br>
    
    <button style="margin-left: 50%;">Submit</button>
  </form>